/*Common*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
body {
    background-color: #f6f8f9;
}
div {
    padding-top: 2%;
}
/*--Common*/

/*Top Logo*/
header {
    background-color: #FFFFFF;
    padding: 0.5% 2% 1%;
}
h1 {
    display: inline-block;
    height: 50px;
    font-size: 55px;
}
/*--Top Logo*/

#container {
    background-color: #FFFFFF;
    margin: 3% 15%;
    border-radius: 1.5%;
    padding-top: 1%;
}

/*Buttons*/
nav {
    padding: 0.1% 5% 1%;
}
button {
    padding: 0.8% 1.4%;
    border-radius: 10%;
    border: 1px solid #c5cbd0;
    font-size: 10px;
}
#leftbtt {
    color: #FFFFFF;
    background-color: #47adf1;
}
#rightbtt {
    color: #c5cbd0;
}
/*--Buttons*/

hr {
    border: 1px solid #f6f8f9;
}

section {
    padding: 2% 5% 5%;
}

/*Check & Cross*/
.check-cross {
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    margin-right: 8px;
}
.green-check {
    color: #97d8ca;
    border: 1px solid #97d8ca;
}
.red-cross {
    color: #eb5851;
    border: 1px solid #eb5851;
}
/*--Check & Cross*/

/*Highlightened Text*/
.highlight {
    padding: 1%;
    border-radius: 20%;
    font-size: 10px;
    color: #FFFFFF;
}
.blue {
    background-color: #45abea;
}
#purple {
    background-color: #9c72e4;
}
#green {
    background-color: #64c0a9;
}
#orange {
    background-color: #f29e33;
}
#fuchsia {
    background-color: #d863a1;
}
#green-yellow {
    background-color: #b0c926;
}
/*--Highlightened Text*/